@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom {
    background-image: url('/assets/menu-hero.png');
    background-size: cover;
    background-position: center; 
}
  
.bg-custom1 {
    background-image: url('/assets/restaur.png');
    background-size: cover;
    background-position: center; 
}
